.App {
  --hex-grass: #78c850;
  --hex-fire: #d08030;
  --hex-water: #6890f0;
  --hex-bug: #a8b820;
  --hex-normal: #a8a878;
  --hex-poison: #a040a0;
  --hex-electric: #f8d030;
  --hex-ground: #e0c068;
  --hex-fairy: #ee99ac;
  --hex-fighting: #c03028;
  --hex-psychic: #f85888;
  --hex-rock: #b8a038;
  --hex-ghost: #705898;
  --hex-ice: #98d8d8;
  --hex-dragon: #7038f8;
  --hex-steel: #bfbdcb;
  --hex-flying: #6f8bdc;
  --hex-dark: #3e3e3e;
}

.c-grass {
  background: var(--hex-grass);
}
.c-fire {
  background: var(--hex-fire);
}
.c-water {
  background: var(--hex-water);
}
.c-bug {
  background: var(--hex-bug);
}
.c-normal {
  background: var(--hex-normal);
}
.c-poison {
  background: var(--hex-poison);
}
.c-electric {
  background: var(--hex-electric);
}
.c-ground {
  background: var(--hex-ground);
}
.c-fairy {
  background: var(--hex-fairy);
}
.c-fighting {
  background: var(--hex-fighting);
}
.c-psychic {
  background: var(--hex-psychic);
}
.c-rock {
  background: var(--hex-rock);
}
.c-ghost {
  background: var(--hex-ghost);
}
.c-ice {
  background: var(--hex-ice);
}
.c-dragon {
  background: var(--hex-dragon);
}
.c-steel {
  background: var(--hex-steel);
}
.c-dark {
  background: var(--hex-dark);
}

.messages {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  padding: 0.5rem;
  list-style: none;
}

.message {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 100;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.error::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
}

.error::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #622;
  transition: all 0.25s;
}

.message:hover::after {
  width: 100%;
}

.message .title {
  color: #fff;
}

.message p {
  margin: 0.25rem 0 0 0;
  color: #aaa;
}

.message button {
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}
