.App {
  --hex-grass: #78c850;
  --hex-fire: #d08030;
  --hex-water: #6890f0;
  --hex-bug: #a8b820;
  --hex-normal: #a8a878;
  --hex-poison: #a040a0;
  --hex-electric: #f8d030;
  --hex-ground: #e0c068;
  --hex-fairy: #ee99ac;
  --hex-fighting: #c03028;
  --hex-psychic: #f85888;
  --hex-rock: #b8a038;
  --hex-ghost: #705898;
  --hex-ice: #98d8d8;
  --hex-dragon: #7038f8;
  --hex-steel: #bfbdcb;
  --hex-flying: #6f8bdc;
  --hex-dark: #3e3e3e;
}

.c-grass {
  background: var(--hex-grass);
}
.c-fire {
  background: var(--hex-fire);
}
.c-water {
  background: var(--hex-water);
}
.c-bug {
  background: var(--hex-bug);
}
.c-normal {
  background: var(--hex-normal);
}
.c-poison {
  background: var(--hex-poison);
}
.c-electric {
  background: var(--hex-electric);
}
.c-ground {
  background: var(--hex-ground);
}
.c-fairy {
  background: var(--hex-fairy);
}
.c-fighting {
  background: var(--hex-fighting);
}
.c-psychic {
  background: var(--hex-psychic);
}
.c-rock {
  background: var(--hex-rock);
}
.c-ghost {
  background: var(--hex-ghost);
}
.c-ice {
  background: var(--hex-ice);
}
.c-dragon {
  background: var(--hex-dragon);
}
.c-steel {
  background: var(--hex-steel);
}
.c-dark {
  background: var(--hex-dark);
}
