.bg_name {
  position: absolute;
  top: 0%;
  left: -0%;
  font-size: 25vw;
  font-weight: bold;
  color: #fff1;
  z-index: 1;
  text-transform: uppercase;
  user-select: none;
}

.container {
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}
.pokemon_info {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.pokemon_id {
  font-size: 1.5rem;
  font-weight: 700;
}
.pokemon_name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.25rem;
  text-transform: capitalize;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  z-index: 9;

  gap: 3rem;
}

.pokemon_height,
.pokemon_weight,
.pokemon_hp {
  font-size: 1rem;
  text-transform: uppercase;
}

.pokemon_image,
.pokemon_info,
.page_button {
  z-index: 9;
}

.pokemon_image {
  width: 25vw;
  filter: drop-shadow(0 0.75rem 1rem #0008);
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  transform: translateY(0.15rem);
}

.bold {
  font-weight: 500;
  margin: 0 0.25rem 0 0;
}

.page_button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.page_button > * {
  width: 3rem;
  height: 3rem;
}
