.bgontainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  position: relative;
  height: 100%;
  width: 100%;
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.back_btn {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: max-content;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
}
.back_btn span {
  display: none;
}

.pokemon_id {
  color: #fff;
}

.image_container {
  transform: translate(0, -100%);
  opacity: 0;
  position: relative;
  padding: 5vh 0;
  width: 100%;
  transition: all 0.25s;
}

.image_enter {
  transform: translate(0, 0);
  opacity: 1;
}

.decoration {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 65%;
  height: 10rem;
  border-radius: 100%;
}

.pokemon_image {
  display: block;
  margin: 0 auto;
  width: 15rem;
  max-width: 30rem;
  filter: drop-shadow(0 0.75rem 0.5rem #0005);
}

.pokemon_types {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  list-style-type: none;

  width: max-content;
  margin: 5rem auto 2rem auto;

  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.pokemon_type {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  background: #333;
  border-radius: 5rem;
}

.pokemon_type_icon {
  width: 1.35rem;
  height: 1.35rem;
}

.body {
  position: relative;
  padding: 1rem 2rem 3rem 2rem;
  width: 100%;
  color: #fff;
}

.pokemon_name {
  text-align: center;
  text-transform: capitalize;
}

.body section {
  display: flex;
  flex-flow: column;
  margin: 4rem 0 0 0;
  gap: 1rem;
}

.section_name {
  position: relative;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0 0 1rem 0;
}

/* Info */
.info_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1rem;
}

.info_item {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.25rem;
}

.info_name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.info_value {
  display: block;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 0.75rem 0;
  border-radius: 5rem;
}

/* Stats */
.stats_list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 0.25rem;
  justify-content: space-evenly;
}

.stat_item {
  padding: 0.25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10rem;
}

.stat_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;

  border-radius: 10rem;

  background-color: #fff3;
  font-weight: bold;
  font-size: 0.85rem;
}

.stat_value {
  margin: 0 0 0.25rem 0;
  font-size: 0.95rem;
}

@media screen and (min-width: 45rem) {
  .bgontainer {
    flex-flow: column;
  }

  .back_btn span {
    display: block;
  }

  .main {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .main figure {
    max-width: max-content;
    margin: 0 auto;
  }

  .image_container {
    transform: translate(-100%, 0);
  }
  .image_enter {
    transform: translate(0, 0);
    opacity: 1;
  }

  .pokemon_image {
    width: 25vw;
    min-width: 20rem;
    max-width: 25rem;
  }

  .pokemon_types {
    margin: 0 0 2rem 0;
  }

  .pokemon_type {
    font-size: 1.25rem;
  }
  .pokemon_type_icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .body {
    width: 100%;
    padding: 0 5vw;
  }

  .pokemon_name {
    text-align: left;
  }

  .section_name {
    margin: 0;
  }

  .info_list {
    display: flex;
    flex-flow: row wrap;
  }
  .info_item {
    width: 7rem;
  }

  .stats_list {
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
