.container {
  display: grid;
  margin: 1rem 0 0 0;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.pokemons_number {
  color: #888;
  font-size: 0.9rem;
}

@media screen and (min-width: 25rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 40rem) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 50rem) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 60rem) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 75rem) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 85rem) {
  .container {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (min-width: 100rem) {
  .container {
    grid-template-columns: repeat(8, 1fr);
  }
}
