.container {
  padding: 2vh 5vw 5vh 5vw;
  min-height: 100vh;
}

.filters {
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.title {
  color: #fafafa;
  margin: 1rem 0 1rem 0;
  font-size: 1.25rem;
}

.select_container,
.search_container {
  min-width: max-content;
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .filters {
    flex-flow: row;
    height: 3rem;
  }

  .select_container {
    max-width: 15rem;
  }
  .search_container {
    width: max-content;
    max-width: 25rem;
  }
}
