.main {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 5vw;
  background: linear-gradient(-80deg, #0006, #000),
    url("assets/images/branden-skeli-bRojCEo0uow-unsplash.jpg") no-repeat center;
}

.header {
  color: #fff;
  display: flex;
  flex-flow: column;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.primary {
  gap: 0.5rem;
  font-size: 1.5rem;
}

.primary * {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  transform: translate(0, 1px);
  transition: all 0.25s ease;
}

.primary:hover .icon {
  transform: translate(5px, 1px);
}

@media screen and (min-width: 60rem) {
  .main {
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background: linear-gradient(-80deg, #0003, #000),
      url("assets/images/branden-skeli-bRojCEo0uow-unsplash.jpg") no-repeat 25%
        center;
  }
  .header {
  }
}
