.pageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.75rem 0;
}

.pageNumber {
  color: #fff;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: #555;
}

.active {
  color: #fff;
}
