.navbar {
  background-color: #181818;
  position: sticky;
  top: 0;
  z-index: 9;
}

.container,
.menu {
  display: flex;
  align-items: center;
}

.container {
  padding: 0.75rem 5vw;
  justify-content: space-between;
}
.menu {
  list-style: none;
  gap: 2rem;
}

.link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  color: #888;
}

.brand {
  font-weight: bold;
}

.active {
  color: #fff;
}

.landing {
  position: fixed;
  width: 100%;
  background-color: transparent;
}
