.navbar {
  width: 100%;
  position: fixed;
  z-index: 9;
  box-shadow: 0 0.25rem 2rem #0001;
}

.container,
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 1rem 5vw;
  background-color: #fff;
  margin: 0 auto;
}

.brand,
.menu_link {
  text-decoration: none;
  color: var(--dark);
}

.brand {
  font-weight: 700;
  font-size: 1.15rem;
}

.menu {
  list-style-type: none;
  gap: 0.75rem;
}
