.loader {
  --color: #252525;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--color);
}

.pokeball {
  border-radius: 100%;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  margin: 0 0.25rem 0 0;
  animation: spin 1s infinite;
}

/* Styles */
.pokeball {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.center {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.5rem;
  width: 0.5rem;
  border: 0.2rem solid #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--color);
}

.top,
.bottom {
  width: 100%;
  height: 0.89rem;
  background: var(--color);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add sizes */
/*
.sm {
}
.md {
}
.lg {
}
*/
